#include "resource.h"
#include "windows.h"

2048GAMEWITHAI  ICON    DISCARDABLE         "2048GAMEWITHAI.ico"

MERGESOUND      WAVE    "1.WAV"
CREATSOUND      WAVE    "3.wav"
PAUSESOUND      WAVE    "2.wav"

2048GAMEWITHAI  MENU PRELOAD FIXED
BEGIN
    POPUP "&Game"
    BEGIN
        POPUP "&New"
        BEGIN
            MENUITEM "&5 * 4"           MENU_NEW_5
            MENUITEM "&4 * 4"           MENU_NEW_4
            MENUITEM "&3 * 4"           MENU_NEW_3
            //MENUITEM "&Customize"       MENU_NEW_CUSTOMIZE
        END
        MENUITEM "&Save\tCtrl+S"        MENU_GAME_SAVE
        MENUITEM "&Load\tCtrl+L"        MENU_GAME_LOAD
        MENUITEM "&Pause\tSpace"        MENU_GAME_PAUSE
        MENUITEM SEPARATOR
        POPUP "A&I"
        BEGIN
            MENUITEM "&AI0 random\tF1"      MENU_AI_0
            MENUITEM "&AI1\tF2"             MENU_AI_1
            MENUITEM "&AI2 maxblank\tF3"    MENU_AI_2
        END
        MENUITEM SEPARATOR
        MENUITEM "S&ound"               MENU_OPTION_SOUND
        //MENUITEM "&Fullscreen"          MENU_OPTION_FULLSCREEN
        //MENUITEM "S&uggestion"          MENU_OPTION_SUGGESTION
        MENUITEM "&GaryMode"            MENU_OPTION_GARYMODE
        MENUITEM "&Animation"           MENU_OPTION_ANIMATION
        
        MENUITEM SEPARATOR
        MENUITEM "Save &Option"         MENU_SAVE_OPTION
        MENUITEM SEPARATOR
        MENUITEM "E&xit"                MENU_GAME_EXIT
    END

    POPUP "&Help"
    BEGIN
        MENUITEM "&About"               MENU_HELP_ABOUT
    END
END

2048GAMEWITHAI  ACCELERATORS    DISCARDABLE
BEGIN
    VK_F1,  MENU_AI_0,      VIRTKEY,    NOINVERT
    VK_F2,  MENU_AI_1,      VIRTKEY,    NOINVERT
    VK_F3,  MENU_AI_2,      VIRTKEY,    NOINVERT
    "^S",   MENU_GAME_SAVE, ASCII,      NOINVERT
    "^L",   MENU_GAME_LOAD, ASCII,      NOINVERT
END