#include "resource.h"

MAIN_MENU   MENU PRELOAD FIXED
BEGIN
    POPUP "&Game"
    BEGIN
        POPUP "&New"
        BEGIN
            MENUITEM "5 * 5"            MENU_NEW_5
            MENUITEM "4 * 4"            MENU_NEW_4
            MENUITEM "3 * 4"            MENU_NEW_3
            MENUITEM "&Customize"       MENU_NEW_CUSTOMIZE
        END
        MENUITEM "&Save"                MENU_GAME_SAVE
        MENUITEM "&Load"                MENU_GAME_LOAD
        MENUITEM SEPARATOR
        POPUP "&AI"
        BEGIN
            MENUITEM "1"                MENU_AI_1
            MENUITEM "2"                MENU_AI_2
            MENUITEM "3"                MENU_AI_3
        END
        MENUITEM SEPARATOR
        MENUITEM "S&ound"               MENU_OPTION_SOUND   CHECKED
        MENUITEM "&Fullscreen"          MENU_OPTION_FULLSCREEN
        MENUITEM "S&uggestion"          MENU_OPTION_SUGGESTION
        MENUITEM SEPARATOR
        MENUITEM "E&xit"                MENU_GAME_EXIT
    END

    POPUP "&Help"
    BEGIN
        MENUITEM "&About"               MENU_HELP_ABOUT
    END
END
